ul {
  margin: 0;
  padding: 30px;
}

li {
  list-style-type: none;
}
.logo {
  height: 20px;
}

.file-container,
.folder-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(223, 217, 217);
  padding: 10px;
}
.file-container {
  background: none;
}
input {
  margin: 10px 10px;
}

body {
  /* background: #000; */
}
